body {
    padding: 0px;
}

.navigation {
    width: 100%;
    height: 120px;
    border: 2px dotted black;
    display: flex;
    justify-content: space-between;
    padding:10px;
}

#accueil_logo{
    width: 20%;
}

#accueil_logo img{
    width: 100%;
}

#liste {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

#liste h5{
    height: 100%;
    text-align: center;
}

#action{
    width: 20%;
    text-align: center;
}

.rubriques {
    height:100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    vertical-align: bottom;
}

.actions {
    height:100%;
    width: 20%;
}

.inscription_entreprise {
    background-color:  cornflowerblue;
    padding: 10px;
}

.descriptif_mission {
    
    background-color: #DAA520;
}

.envoyer_freelance{
	background-color: #DAA520;
}

.envoyer {
    background-color: #DAA520;
}

.form_mission {
    display:  flex;
    justify-content: space-around;
}

.form_mission input{
    width: 400px;
    margin: 5px;
}

.form_mission .form_gauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boutons_missions {
    display: flex;
    justify-content: space-around;
}

.boutons_missions div{
    margin: 10px;
    padding: auto;
    width: 150px;
	text-align: center;
	color: black;
	margin: 10px auto;
}

.boutons_missions p{
    vertical-align: middle;
    text-align: center;
}

.texte_mission {
    text-align:  center;
    color : white;
    margin: 20px;    
}

#libre {
    height: 150px;
}

.texte_kesako{
	text-align:center;
}
.texte_kesako h1{
	color:#4169E1
}
.texte_kesako h3{
	color:#4169E1; 
	font-size:16px;
}

#simplificateur h1{
	color:white; 
    background-color:#66CDAA; 
    text-align:center;
}
#simplificateur p{
	margin:1px;
}
.contact h1{
	color:#4169E1; 
}

.contact{
	text-align:center;
	line-height:10px;
	margin : 30px 0;
	border-top: 1px solid black;
}

.contact h5 {
	color: #4169E1;
}

.contact h6 {
	color : #DAA520;
}

.texte_entreprise {
	text-align:center;
	background-color: #4682B4;
	color: white;
	line-height:20px;
}

.depot_mission{
	text-align:center;
}

.depot_mission h1 {
	color:#4169E1;
	font-size: 16px; 
	line-height:15px;
}

.depot_mission p {
	font-size: 10px; 
	line-height:5px;
}

#libre_freelance {
    height: 150px;
}

#envoyer_freelance {
    background-color: yellow;
}

#dernieres_offres {
    display: flex;
    justify-content: space-around;
}

.proposition_profil{
	text-align : center;
	margin : 15px 0;
}

.proposition_profil h1 {
	color:#4169E1;
	font-size: 16px; 
	line-height:15px;
}

#proposition_profil{
	width: 150px;
	border : 2px solid orange;
	text-align: center;
	color: orange;
	margin: 10px auto;
}

#proposition_profil:hover{
    width: 150px;
    border : 2px solid orange;
    text-align: center;
    color: white;
    background-color: orange;
    margin: 10px auto;
}

#proposition_mission{
	width: 150px;
	border : 2px solid #4169E1;
	text-align: center;
	color: #4169E1;
	margin: 10px auto;
}

#proposition_mission:hover{
    width: 150px;
    border : 2px solid #4169E1;
    text-align: center;
    background-color: #4169E1;
    color: white;
    margin: 10px auto;
}

#kesako {
	border-top: 1px solid black;
}


#dernieres_offres h1{
	background-color:lightgrey;
}

.derniers_profils{
	text-align:center;
	
}
.dernieres_missions{
	text-align:center;
}

#inscription{
    width: 500px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
}

.contact {
    background-color: #F5F5DC;
}

#login {
    width: 500px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
}

.entete {
    background: url("resources/accueil.png") no-repeat center;
    height:555px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-around;
}


#isfreelance h3{
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
}

#isentreprise h3{
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
}


#isfreelance {
    background-color: #333333;
    border: 5px solid orange;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align:middle;
    margin-top: 200px;
    color: white;
}

#isentreprise {
    background-color: #333333;
    border: 5px solid #4169E1;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align:middle;
    margin-top: 200px;
    color: white;
}

#isentreprise:hover {
    background-color: #4169E1;
    border: 5px solid #333333;
    border-radius: 100px;
    width: 200px;
    color: white;
    height: 200px;
    text-align: center;
    vertical-align:middle;
    margin-top: 200px;
}

#isfreelance:hover {
    background-color: orange;
    border: 5px solid #333333;
    border-radius: 100px;
    width: 200px;
    color: white;
    height: 200px;
    text-align: center;
    vertical-align:middle;
    margin-top: 200px;
}

#btn_login{
	background-color: #0E86E2;
	color: white ;
} 

.form_moncompte {
    width: 700px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
}

#formulaire_moncompte {
    padding:10px;
}
