body {
    padding: 0px;
}

nav {
    width: 100%;
    height: 80px;
    border: 2px dotted black;
    display: flex;
    justify-content: space-between;
    padding:10px;
}

nav img{
	width:100%;
	height:100%;
	 
}

.logo {
    height:100%;
    width:20%;
}

.rubriques {
    height:100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    vertical-align: bottom;
}

.actions {
    height:100%;
    width: 20%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.inscription_entreprise {
    background-color:  cornflowerblue;
    padding: 10px;
}

.descriptif_mission {
    
    background-color: yellow;
}

.envoyer {
    background-color: yellow;
}

.form_mission {
    display:  flex;
    justify-content: space-around;
}

.form_mission input{
    width: 400px;
    margin: 5px;
}

.form_mission .form_gauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boutons_missions {
    display: flex;
    justify-content: space-around;
}

.boutons_missions div{
    margin: 5px;
    padding: auto;
    width: 150px;
    height: 80px;
}

.boutons_missions p{
    vertical-align: middle;
    text-align: center;
}

.texte_mission {
    text-align:  center;
    color : white;
    margin: 20px;
}

#libre {
    height: 150px;
}

#dernieres_offres{
    display: flex;
    justify-content: space-between;
}

.derniers_profils {
    background-color: dodgerblue;
    text-align: center;
}

.dernieres_missions {
    background-color:chartreuse;
    text-align: center;
}

.entreprise {
    text-align: center;
}

#nos_offres {
    text-align: center;
}

.form_moncompte .form_gauche{
	margin: auto;
	width:50%;
}

.form_moncompte .form_gauche input{
	width:50%;
}



#inscription {
    display: flex;
    text-align: center;
    flex-direction: colum;
}
